[config]
schemaVersion = "0.0.1"

[package]
namespace = "xhayper"
name = "COTL_API"
versionNumber = "0.2.7"
description = "A library to easily interact with Cult of the Lamb"
websiteUrl = "https://cotl-api.vercel.app/"
containsNsfwContent = false

[package.dependencies]
BepInEx-BepInExPack_CultOfTheLamb = "5.4.21"

[build]
icon = "./icon.png"
readme = "./README.md"
outdir = "./build"

[[build.copy]]
source = "bin/Release/COTL_API/COTL_API.dll"
target = "plugins/io.github.xhayper.COTL_API/COTL_API.dll"

[[build.copy]]
source = "Assets"
target = "plugins/io.github.xhayper.COTL_API/Assets"

[publish]
repository = "https://cult-of-the-lamb.thunderstore.io"
communities = ["cult-of-the-lamb"]
categories = ["libraries"]
