---
const { size } = Astro.props;
---
	
<svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="256px" height="256px" viewBox="0 0 256 256" version="1.1">
<title>Logo</title>
<g id="surface1">
<path style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,0%,100%);fill-opacity:1;" d="M 0 64 L 0 128 L 128 128 L 128 0 L 0 0 L 0 64 M 129.023438 192.511719 L 129.023438 256 L 256 256 L 256 129.023438 L 129.023438 129.023438 L 129.023438 192.511719 "/>
<path style=" stroke:none;fill-rule:evenodd;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 128 64 L 128 128 L 0 128 L 0 256 L 129.023438 256 L 129.023438 129.023438 L 256 129.023438 L 256 0 L 128 0 L 128 64 "/>
</g>
</svg>
