name: build

on:
    push:
        branches:
            - "*"
            - "!docs*"
    pull_request:
        types:
            - opened
            - synchronize
        branches:
            - "*"
            - "!docs*"

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "8"
            - uses: nuget/setup-nuget@v2
              if: matrix.os == 'windows-latest'
            - name: Restore
              run: |
                  dotnet restore
            - name: Build
              run: |
                  dotnet build -c Release
            - name: Package
              run: |
                  dotnet tool install -g tcli
                  tcli build
            - name: Package NuGet
              if: matrix.os == 'windows-latest'
              run: nuget pack
            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                  path: |
                    "build/*.*"
                    "*.nupkg"
                  name: ${{ matrix.os }}
